{% extends "base.html" %}

{% block title %}}
This is add
{% endblock %}

{% block content %}
<section>
    <h1>Add a new URL</h1>
    <form action="" method="post">
        <article>
            <p>Enter your bookmark here: <input type="text" name="url"></p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </article>
    </form>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}