{% extends "base.html" %}

{% block title %}
Welcome to Thermos
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome</h1>
        <p>Thermos is a simple social bookmarking site.</p>
    </header>
    <section>
        <h2>Title: {{title}}</h2>
        <p>Text: {{text}}</p>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc
            vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est,
            eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
            dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc
            vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est,
            eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
    </footer>
</article>

{% endblock %}
